params{
    inputTable="test.tsv"
    sfdb="/path/to/LTRH_DB.fa" 
    round=4
    rtrhdb="/path/to/DB_RTRH.fas"
    nb_cpus=28
    blastLTRevalue= 1e-15
    blastRTRHevalue= 1e-5
}

process {
    withName:makeRTRHdb {
        container = 'community.wave.seqera.io/library/blast:2.16.0--540f4b669b0a0ddd'
    }
    withName:runLTRharvest {
        container = 'community.wave.seqera.io/library/genometools-genometools:1.6.5--c28a5a3252083220'
        memory = 50.GB
    }
    withName:blastx {
        container = 'community.wave.seqera.io/library/blast:2.16.0--540f4b669b0a0ddd'
    }
    withName:family {
        container = 'community.wave.seqera.io/library/mafft_python:e312d7e857c14a06'
    }
    withName:blastx2 {
        container = 'community.wave.seqera.io/library/blast:2.16.0--540f4b669b0a0ddd'
    }
    withName:consensusPerCluster {
        container = 'community.wave.seqera.io/library/mafft_python:e312d7e857c14a06'
    }

}

singularity {
    enabled = true
}
